# compiled output
/dist

# dependencies
/node_modules

# IDE
/.idea
.DS_Store
*.sw?

# env files
.env
.env.*
!.env.example

# OS
Thumbs.db

# test
/coverage

# debug
npm-debug.log
yarn-debug.log
yarn-error.log
